<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div id="container">
        <header id="site-header">
            <%- include('../partials/header') %>
        </header>
        <main id="site-main-body">
            <%- body %>
        </main>
        <footer id="dite-footer">
            <%- include('../partials/footer') %>
        </footer>
    </div>
</body>
</html>