<div id="blog-details-title">
    <h1><%- result.title %></h1>
    <button id="remove-blog" data-blog="<%- result._id %>">Remove</button>
</div>
<hr>
<p><%- result.body %></p>

<script>
    const rmBtn = document.querySelector('#remove-blog');
    const endpoint = `/blogs/remove/${rmBtn.dataset.blog}`;

    rmBtn.addEventListener('click', () => {
        console.log('Click !');
        fetch(endpoint, {
            method: 'DELETE'
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
    });
</script>