<section id="recent-blogs">
    <ul id="blogs-list">
        <li class="blog">
            <a href="/blog/3">
                <h3 class="blog-title">Blog Title</h3>
                <p class="blog-snippet">Something about this blog !</p>
            </a>
        </li>
    </ul>
</section>