<section id="recent-blogs">
    <ul id="blogs-list">
        <% if(result.length > 0) { %>
            <% result.forEach(e => { %>
                <li class="blog">
                    <a href="/blogs/<%- e._id %>">
                        <h3 class="blog-title"><%- e.title %></h3>
                        <p class="blog-snippet"><%- e.snippet %></p>
                    </a>
                </li>
            <% }); %>
        <% } else { %>
            <p>Nothin Found !</p>
        <% } %>
    </ul>
</section>