<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div id="container">
        <header id="site-header">
            <nav id="header-navbar">
                <ul id="navbar-list">
                    <li class="item"><a href="/">Home</a></li>
                    <li class="item"><a href="/">About</a></li>
                    <li class="item"><a href="/blogs/add">Add New Blog</a></li>
                    <li class="item"><a href="/">Login</a></li>
                    <li class="item"><a href="/">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        <main id="site-main-body">
            <section id="recent-blogs">
                <ul id="blogs-list">
                    <li class="blog">
                        <a href="/blog/id">
                            <h3 class="blog-title">Blog Title</h3>
                            <p class="blog-snippet">Something about this blog !</p>
                        </a>
                    </li>
                </ul>
            </section>
        </main>
        <footer id="dite-footer">
            <p id="footer-desc">&copy; All Rights Reserved !</p>
        </footer>
    </div>
</body>
</html>