<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <div id="container">
        <header id="site-header">
            <nav id="header-navbar">
                <ul id="navbar-list">
                    <li class="item">Home</li>
                    <li class="item">About</li>
                    <li class="item">Blogs</li>
                    <li class="item">Login</li>
                    <li class="item">Sign Up</li>
                </ul>
            </nav>
        </header>
        <main id="site-main-body">
            <section id="recent-blogs">
                <ul id="blogs-list">
                    <li class="blog">
                        <h3 class="blog-title">Blog Title</h3>
                        <p class="blog-snippet">Something about this blog !</p>
                    </li>
                </ul>
            </section>
        </main>
        <footer id="dite-footer">
            <p id="footer-desc">&copy; All Rights Reserved !</p>
        </footer>
    </div>
</body>
</html>