*{
    padding: 0%;
    margin: 0%;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 7.5% auto 7.5%;
    max-width: 1560px;
    height: 100%;
    margin: auto;
}

header{
    grid-column: 1/span 12;
    background-color: rgb(105, 105, 105);
    color: white;
}

ul#navbar-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

#navbar-list > li.item{
    margin-right: 2%;
    padding: 1%;
}

#navbar-list > li.item:nth-last-child(2){
    margin-left: auto;
    margin-right: 0%;
}

#navbar-list > li.item:nth-last-child(1){
    padding-left: 0%;
}

#navbar-list > li.item:nth-last-child(1)::before{
    content: "|";
    margin-right: 10px;
}

#navbar-list > li.item:hover{
    color: crimson;
    cursor: pointer;
    background-color: rgb(74, 74, 74);
    border-bottom: 2px solid crimson;
}

#navbar-list > li.item:hover:nth-last-child(1)::before{
    color: white;
}

main{
    padding: 5%;
}

footer{
    grid-column: 1/span 12;
    padding: 1%;
    background-color: rgb(105, 105, 105);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}