*{
    padding: 0%;
    margin: 0%;
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

hr{
    margin: 1% 0%;
}

a:link,
a:visited{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 2rem;
}

h3{
    font-size: 1.2rem;
}

#container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 7.4% auto 7.4%;
    max-width: 1560px;
    height: 100%;
    margin: auto;
}

header{
    grid-column: 1/span 12;
    background-color: rgb(105, 105, 105);
    color: white;
}

ul#navbar-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}

#navbar-list > li.item{
    margin-right: auto 2%;
    padding: 1%;
}

#navbar-list > li.item > a{
   color: white;
}

#navbar-list > li.item:nth-last-child(2){
    margin-left: auto;
    margin-right: 0%;
}

#navbar-list > li.item:nth-last-child(1){
    padding-left: 0%;
}

#navbar-list > li.item:nth-last-child(1)::before{
    content: "|";
    margin-right: 10px;
    background-color: transparent;
}

#navbar-list > li.item:hover{
    color: crimson;
    cursor: pointer;
    background-color: rgb(74, 74, 74);
    border-bottom: 2px solid crimson;
}

#navbar-list > li.item:hover > a{
    color: crimson;
}

#navbar-list > li.item:hover:nth-last-child(1)::before{
    color: white;
}

main{
    padding: 5%;
    grid-column: 1/span 12;
}

section#recent-blogs{   
    height: 100%;
}

#recent-blogs > ul#blogs-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#blogs-list > .blog{
    padding: 1%;
    margin: 1% 0%;
    border-left: 5px solid crimson;
}

#blogs-list > .blog:hover{
    border-left-width: 10px;
    transition: border-left-width .2s;
}

footer{
    grid-column: 1/span 12;
    padding: 1%;
    background-color: rgb(105, 105, 105);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer:hover{
    color: crimson;
    cursor: not-allowed;
}

div#blog-details-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button#remove-blog{
    padding: .5%;
    background-color: crimson;
    border-radius: 5px;
    color: white;
    border: none;
}

button#remove-blog:hover{
    background-color: rgb(181, 16, 49);
    cursor: pointer;
}

form#add-blog-form{
    display: flex;
    max-width: 40%;
    margin: auto;
    padding: 3%;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgba(164, 164, 164, 0.453);
    flex-direction: column;
    justify-content: space-evenly;
}

div.input-group{
    display: flex;
    width: 100%;
    margin: 2% 0%;
    flex-direction: column;
    justify-content: space-evenly;
}

div.input-group > label{
    margin-bottom: 1%;
}

input,
textarea{
    padding: 1%;
    border-radius: 5px;
    border: 1px solid rgba(220, 20, 60, 0.534);
}

input:focus,
textarea:focus{
    outline: none;
    border: 2px solid crimson;
}

form#add-blog-form > hr{
    color: rgba(220, 20, 60, 0.507);
}

input[type= 'submit']{
    color: white;
    cursor: pointer;
    padding: 2%;
    background-color: crimson;
    border: none;
    border-radius: 10px;
}

input[type= 'submit']:hover{
    background-color: rgb(181, 16, 49);
}

@media screen and (max-width : 850px) {
    h3{
        font-size: 1.5rem;
    }

    #container{
        grid-template-rows: 4% auto 4%;
    }

    #navbar-list > li.item > a{
        font-size: 1.2rem;
    }
}

@media screen and (max-width : 450px) {
    #container{
        grid-template-rows: 20% auto 4%;
    }

    ul#navbar-list{
        padding: 3%;
        justify-content: space-evenly;
        flex-direction: column;
    }

    #navbar-list > li.item{
        width: 100%;
        border: 1px solid white;
        border-radius: 15px;
        text-align: center;
    }
    
    #navbar-list > li.item:nth-last-child(1)::before{
        content: none;
    }
}